html,
body {
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background: #f8f1e5;
}

.image-viewer__container {
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Segoe Script';
}

.image-viewer__title {
    position: fixed;
	/*position: static;*/
    top: 0;
	font-size: 4rem;
	font-weight: 400;
	color: #615dec;
	margin-top: 1.5rem;
    align-items: center;
	font-weight: 600;
}

.image-viewer__main {
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.image-viewer__button {
	position: fixed;
	bottom: 10pt;
/*	left: 40;
	right: 40;*/
	font-size: 2rem;
	display: inline;
	/*background: ;*/
	background-color: lavender;
	border: 100pt;
	border-radius: 10%;
	margin-bottom: 3rem;
	font-weight: 300;
}

.image-viewer__button:hover {
    color: #615dec;
    border-color: #615dec;
	border: 2px;
}

.image-viewer__button img:hover {
	border: 1px solid black;
	border-radius: 50%;
}

.image-viewer__button:focus {
	outline: none;
}

.image-viewer__display {
	margin: 1rem;
	max-width: 80rem;
	align-items: center;
	font-size: 0.6rem;
}

.image-viewer__display img {
	max-height: 70%;
	max-width: 60%;
	align-items: center;
	margin-top: 30px;
}

.image-viewer__display-info-wrapper {
	position: absolute;
	max-width: 30%;
    color: black;
    right: 100px;
    top: 230px;
	margin-bottom: 10rem;
}

#display-image {
	object-fit: contain;
	width: 50rem;
	height: 30rem;
	margin-bottom: 0rem;
    left: 100%;
}

#source {
	display: inline;
	color: black;
}

.disabled {
	opacity: 0.2;
}

.disabled:hover {
	border-color: transparent !important;
	cursor: not-allowed;
}

div.name {
	/*outline: none;*/
	font-size: 50px;
}

div.thing {
	/*outline: none;*/
    font-size: 20px;
}